.baseCard {
  padding: 10px 22px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 20px 10px;
  font-size: @font-size-md;

  .baseCard_footer {
    text-align: center;

  }

}

.baseCard_body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin: 20px 0px;


}

.carditem {
  // margin: 10px;

  .theimg {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 1;

    .playnum {
      position: absolute;
      color: #ffffff;
      bottom: 5px;
      left: 5px;
    }
  }


}

.baseCard_title {
  display: flex;
  flex-direction: row;

  div {
    flex: 1;

    &:last-child {
      text-align: right;
    }
  }

}

.card {
  margin: 10px;
  overflow: hidden;

  .img {
    img {
      position: relative;
      width: 100%;
      height: auto;
      left: 50%;
      // top: 50%;
      transform: translateX(-50%);
    }
  }
}


.intro {
  padding-top: 5px;
  line-height: 150%;
  letter-spacing: 2px;
  color: @gray-8;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 24px;
}